In [17]:
#test template

from subgrounds.subgrounds import Subgrounds
sg = Subgrounds()
aaveV2 = sg.load_subgraph('https://api.thegraph.com/subgraphs/name/aave/protocol-v2')
aaveV2.Borrow.adjusted_amount = aaveV2.Borrow.amount / 10 ** aaveV2.Borrow.reserve.decimals
last10_borrows = aaveV2.Query.borrows(
    orderBy=aaveV2.Borrow.timestamp,
    orderDirection='desc',
    first=1000
)

sg.query_df([
  last10_borrows.reserve.symbol, 
  last10_borrows.timestamp,
  last10_borrows.adjusted_amount
])

    borrows_reserve_symbol  borrows_timestamp  borrows_adjusted_amount
0                     WETH         1664321015               140.000000
1                     BUSD         1664319851              5942.000000
2                     WETH         1664319827                33.862683
3                     USDC         1664319191             10000.000000
4                     USDC         1664318411             13000.000000
..                     ...                ...                      ...
995                   WETH         1663967831                 2.000000
996                   WETH         1663967651               400.000000
997                    ENJ         1663966955               708.279114
998                   WETH         1663966619                 0.057083
999                   WETH         1663966619                56.968660

[1000 rows x 3 columns]

In [26]:
from subgrounds.subgrounds import Subgrounds
import pandas as pd
import os.path

sg = Subgrounds()
carbonSubgraph = sg.load_subgraph('https://api.thegraph.com/subgraphs/name/milos1991/carbonpolygon')

#first get cache if there is a cache: 

if (os.path.isfile('cached_dataframe.pkl') == False):
    print("pizza")
    last10_retires = carbonSubgraph.Query.klimaRetires(
        orderBy = carbonSubgraph.KlimaRetire.timestamp,
        orderDirection = 'asc',
        first=100000
    )
else:
    df = pd.read_pickle('cached_dataframe.pkl')


df = sg.query_df([
    last10_retires.id,
    last10_retires.timestamp,
    last10_retires.amount,
    last10_retires.beneficiary,
    last10_retires.beneficiaryAddress,
    last10_retires.certificateTokenID,
    last10_retires.feeAmount,
    last10_retires.index,
    last10_retires.pool,
    last10_retires.retirementMessage,
    last10_retires.token,
    last10_retires.retiringAddress,
    last10_retires.specific
])

df.to_pickle('cached_dataframe.pkl')

df.to_csv('retirement.csv')